default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  host: localhost
  pool: 5

development:
  <<: *default
  database: helpdesk_development

test:
  <<: *default
  database: helpdesk_test

