<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right tracer">
          EcoStage 2016 <%= icon :code %>
        </div>
      </div>
    </div>
  </div>
</footer>
